/*-----------------------
header navigation menu style starts------*/

*{
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
.header-section{
    background-color:blueviolet;
    width:1350px;
    height: 650px;
}
.container{
    padding: 50px;

}
.menu a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 30px;
}
.menu a:hover{
    color:cyan;
    font-size: 20px;
}
.login-icon{
    padding: 0 10px;
}
.login-menu{
    color:#FFFFFF;
    text-decoration: none;
    border:2px;
    background-color: lightcoral;
    padding: 10px 30px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 35px;
}
/*------navigation menu style end----*/
.header-showcase{
    width:100%;
    height:130px;
    display:flex;
     padding: 30px;
    
}
.live-link{
    border:2px;
    padding:10px 20px;
    background-color: lightcoral;
    text-decoration: none;
    margin-left: 30px;
}
.live-link:hover{
    background-color: deeppink;
    font-size: 18px;
}
.header-tittle> h1{
   
    word-wrap: break-word;
    justify-content: center;
    text-align: center;
    padding:20px;
    font-size: 50px;
    color:white; 
}
.header-tittle p{
    margin-left: 70px;
    
}
.banner img{
    width:500;
    height:500px;
    position: relative;
    animation:image 3s infinite;  
}
@keyframes image{
    from{ left:0px;}
    to{left:100px;}
}
#web-banner{
    animation-timing-function: linera;
}

/*-----header style section end----*/
/*----main section start with article of players detail----*/
.blog-container{

    align-items: center;
    justify-content: center;
    margin: 50px;
}
.blog{
    margin-left:100px;
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    grid-row-gap:15px;
    
}
.thumbnail img{
    width:250px;
    height:250px;
}
.thumbnail{
    margin:15px;
    border:5px;
    padding:20px 30px 20px 45px;
    box-shadow: 5px 0px 10px gray;
    justify-content: center;
}
/* -----players related article end---*/
/*-------highlights style-------*/
.highlights{
    display:flex;
    margin: 50px;
}
.newsfeed{
    width:50%;
    justify-content: center;
    padding:20px 40px ;
    margin-left: 30px;
}
.newsfeed p{
    margin-bottom: 10px;
}
.highlight-thumbnail>img{
    width:450px;
    height:300px;
    
}
/*----highlights style end----*/
/*------photo gallery style start---*/
.photo-container h1{
    text-align: center;
    padding:20px;
    font-size: 50px;
    color:red; 
    text-shadow:2px 1px black; 
}
.copa-photo{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.copa-photo img{
    width:300px;
    height: 200px;
   
}
/*-----photo gallery end----*/
/*-------news section start-----*/
.more-site-container{
    background-color: blueviolet;
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    padding: 50px;
}
.cupa-logo{
    color:;
}
.cup-logo >img{
    width:2%;
    height:2%;
}
li a{
    text-decoration: none;
    color: white;

}
li a:hover{
    border:2px solid;
    background-color: tomato;
    border-radius: 10px;
    padding: 5px;
}
/*--------news section end---------*/
/*---------footer section style start------*/
footer{
    justify-content: center;
    align-items: center;
    margin-left: 450px;
   
}
.world-cup img{
    width:20px;
    height:15px;
    align-items: center;
}
.social-icon img{
    align-items: center;
    margin-left: 1opx;
    width: 50px;
    height:50px;
}
.social-icon img:hover{
    transform: scale(0.75);
}
/*--------footer section style end---*/